<style>
body{padding-bottom:60px;}
</style>

<div class="container">

<a ui-sref="accuracy" class="pull-xs-right" ><strong><i class="fa fa-caret-left"></i> Go Back</strong> to Dashboard</a>
<h1 class="title"><i class="fa fa-search-plus"></i> Review Documents</h1>
<div class="card">
    <div class="card-block">

        <hr/>
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <div>
              <a href="" class="pull-xs-right" ng-click="rotate(0)">
                <i class="fa fa-repeat" aria-hidden="true"></i> Rotate Right
              </a>
              <a href="" ng-click="rotate(1)" class="pull-xs-left"><i class="fa fa-undo" aria-hidden="true"></i> Rotate Left</a>

              <h2 class="text-xs-center"><i class="fa fa-file" aria-hidden="true"></i> <strong ng-bind="documentActive.label"></strong></h2>

            </div>
            <hr/>
            <div style="min-height:825px;">
              <img src="images/documents/{{documentActive.image}}" class="img-fluid" ng-class="docRotateClass"/>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">



            <div class="card">
              <div class="card-header">
                <h2>Document Actions</h2>
              </div>
              <div class="card-block">
                <button type="button" class="btn btn-green btn-full"
                        ng-click="updateDocStatus()"
                        ng-disabled="vm.WorkingModal"
                        ng-class="{'btn-sending' : vm.WorkingModal}">
                    <i class="fa fa-thumbs-up"></i> Approve
                </button>
                <hr/>

                <p>
                <button type="button" class="btn btn-blue btn-full" data-toggle="modal" data-target="#modalApproveAs"
                        ng-class="{'btn-sending' : vm.WorkingModal}">
                    <i class="fa fa-thumbs-up"></i> Approve As
                </button>
                </p>
                <hr/>

                <p>
                <button type="button" class="btn btn-red btn-full" data-toggle="modal" data-target="#modalDecline"
                        ng-class="{'btn-sending' : vm.WorkingModal}">
                    <i class="fa fa-thumbs-down"></i> Decline
                </button>
                </p>
              </div>
            </div>

        </div>

    </div>
  </div>
</div>

<div ng-include="'views/modals/modal_reviewDocApproveAs.html'"></div>
<div ng-include="'views/modals/modal_reviewDocDecline.html'"></div>
