<style>
body{padding-bottom:60px;}
</style>

<div class="container-fluid">

<a ui-sref="qualify" class="pull-xs-right" ><strong><i class="fa fa-caret-left"></i> Go Back</strong> to Dashboard</a>
<h1 class="title"><i class="fa fa-search-plus"></i> Reviewing Loan#: <strong ng-bind="loanCurrent.loanNum"></strong></h1>
<div class="card">
    <div class="card-block">
        <hr/>
        <div class="row">

            <div class="col-xs-12 col-lg-9">
              <div class="row">
                <div class="col-xs-12" ng-if="!docCurrent1 && !docCurrent2">No document selected. Please select a document from the documents tab or <a ui-sref="qualify.examination({ LoanID: docNext.loanNum })">go to the next loan</a>.</div>

                <div class="col-xs-12 col-md-6" ng-class="!docCurrent2 ? 'col-md-12' : 'col-md-6'" ng-if="docCurrent1">
                    <div class="btn-group btn-group-nav pull-xs-right" role="group" ng-if="docCurrent1.status !== 'approved' " >
                      <button type="button" class="btn btn-sm btn-info-outline" ng-disabled="!pane1index" ng-click="changeDoc(1,pane1index - 1)"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                      <button type="button" class="btn btn-sm btn-info-outline" ng-disabled="pane1index == docsReviewing.length - 1 || docsReviewing[pane1index + 1].status == 'approved' " ng-click="changeDoc(1,pane1index + 1)"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                    </div>

                    <div class="btn-group btn-group-nav pull-xs-right" role="group" ng-if="docCurrent1.status !== 'approved' " >
                      <button ng-class="{'btn-inactive' : docCurrent1.status == 'declined' }" ng-click="changeStatus(docCurrent1,1,'approved')"
                      type="button" class="btn btn-sm btn-green" ><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                      <button ng-class="{'btn-inactive' : docCurrent1.status == 'approved' }" ng-click="changeStatus(docCurrent1,1,'declined')"
                      type="button" class="btn btn-sm btn-red" data-toggle="modal" data-target="#modalDeclineQualify"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                    </div>

                    <h2><i class="fa fa-file" aria-hidden="true"></i> <strong ng-bind="docCurrent1.label"></strong></h2>

                  <hr/>
                  <div>
                    <img ng-src="images/documents/{{docCurrent1.image}}" class="img-fluid m-x-auto" ng-class="docRotateClass"/>
                  </div>
                </div>

                <div class="col-xs-12 col-md-6" ng-class="!docCurrent1 ? 'col-md-12' : 'col-md-6'" ng-if="docCurrent2">

                  <div class="btn-group btn-group-nav pull-xs-right" role="group" ng-if="docCurrent2.status !== 'approved' " >
                    <button type="button" class="btn btn-sm btn-info-outline" ng-disabled="!pane2index" ng-click="changeDoc(2,pane2index - 1)"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-sm btn-info-outline" ng-disabled="pane2index == docsReviewing.length - 1 || docsReviewing[pane2index + 1].status == 'approved' " ng-click="changeDoc(2,pane2index + 1)"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                  </div>

                  <div class="btn-group btn-group-nav pull-xs-right" role="group" ng-if="docCurrent2.status !== 'approved' " >
                    <button ng-class="{'btn-inactive' : docCurrent2.status == 'declined' }" ng-click="changeStatus(docCurrent2,2,'approved')"
                    type="button" class="btn btn-sm btn-green" ><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    <button ng-class="{'btn-inactive' : docCurrent2.status == 'approved' }" ng-click="changeStatus(docCurrent2,2,'declined')"
                    type="button" class="btn btn-sm btn-red" data-toggle="modal" data-target="#modalDeclineQualify"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                  </div>

                    <h2><i class="fa fa-file" aria-hidden="true"></i> <strong ng-bind="docCurrent2.label"></strong></h2>

                  <hr/>
                  <div>
                    <img ng-src="images/documents/{{docCurrent2.image}}" class="img-fluid m-x-auto" ng-class="docRotateClass"/>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-xs-12 col-lg-3">

              <div class="accordion card">
                <div class="panel">
                  <div class="panel-title card-header">
                      <h3><a class="accordion-toggle" data-toggle="collapse" href="#accordian-income" aria-expanded="true"><i class="fa fa-money" aria-hidden="true"></i> Monthly Income</a></h3>
                  </div>
                  <div class="panel-collapse collapse" id="accordian-income">
                    <table class="table table-striped table-sm table-stats">
                      <tr>
                        <td colspan="2">Base Employment Income</td>
                        <td><strong>$7,833.33</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">Overtime</td>
                        <td><strong>$0.00</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">Bonuses</td>
                        <td><strong>$0.00</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">Commissions</td>
                        <td><strong>$0.00</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">Dividends/Interest</td>
                        <td><strong>$0.00</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">Net Rental Income</td>
                        <td><strong>$0.00</strong></td>
                      </tr>
                      <tr>
                        <td colspan="2">Other</td>
                        <td><strong>$0.00</strong></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-xs-12">

                  <div class="accordion card">
                    <div class="panel">
                      <div class="panel-title card-header">
                          <h3><a class="accordion-toggle" data-toggle="collapse" href="#accordian-docs" aria-expanded="true"><i class="fa fa-files-o blue" aria-hidden="true"></i>  Documents ({{docsReviewing.length}})</a></h3>
                      </div>
                      <div class="panel-collapse collapse in" id="accordian-docs">

                        <table class="table table-sm table-stats">
                            <thead  class="thead-default">
                              <tr>
                                <th colspan="3"><strong>Docs To Be Reviewed</strong></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="doc in docsReviewing track by $index">
                                <td style="width: 61px;">
                                  <div class="btn-group btn-group-docview" role="group" aria-label="Basic example">
                                    <button class="btn btn-info-outline btn-sm" ng-class="{'btn-green' : doc.pane1 }" ng-click="loadDocumentPane(1,doc.id)">1</button>
                                    <button class="btn btn-info-outline btn-sm" ng-class="{'btn-green' : doc.pane2 }"  ng-click="loadDocumentPane(2,doc.id)">2</button>
                                  </div>
                                </td>
                                <td ng-bind="doc.label"></td>
                                <td class="text-xs-right">
                                  <i class="fa fa-thumbs-up green" ng-if="doc.status == 'approved'"></i>
                                  <i class="fa fa-thumbs-down red" ng-if="doc.status == 'declined'"></i>
                                  <i class="fa fa-question-circle yellow" ng-if="doc.status == 'new'"></i>
                                </td>
                              </tr>
                              <tr>
                                  <td colspan="3" ng-if="docsReviewing.length == 0"><em>No documents</em></td>
                              </tr>
                            </tbody>
                        </table>

                        <table class="table table-sm table-stats">
                            <thead class="thead-default">
                              <tr>
                                <th colspan="3"><strong>Approved Docs</strong></th>
                              </tr>
                            </thead>
                          <tbody>
                            <tr ng-repeat="doc in docsApproved track by $index">
                              <td style="width: 61px;">
                                <div class="btn-group btn-group-docview" role="group" aria-label="Basic example">
                                  <button class="btn btn-info-outline btn-sm" ng-class="{'btn-green' : doc.pane1 }" ng-click="loadDocumentPane(1,doc.id)">1</button>
                                  <button class="btn btn-info-outline btn-sm" ng-class="{'btn-green' : doc.pane2 }"  ng-click="loadDocumentPane(2,doc.id)">2</button>
                                </div>
                              </td>
                              <td ng-bind="doc.label"></td>
                              <td class="text-xs-right">
                                <i class="fa fa-thumbs-up green"></i>
                              </td>
                            </tr>
                            <tr>
                                <td colspan="3" ng-if="docsApproved.length == 0"><em>No documents</em></td>
                            </tr>
                          </tbody>
                      </table>


                      <table class="table table-sm table-stats">
                          <thead class="thead-default">
                            <tr>
                              <th colspan="3">
                                <button class="btn btn-blue btn-sm pull-xs-right"  data-toggle="modal" data-target="#modalApproveAs">Request Docs</button>
                                <strong> Borrower To Do's</strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="doc in docsBorrower track by $index">
                              <td style="width: 61px;"></td>
                              <td ng-bind="doc.label" colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="3" ng-if="!docsBorrower.length"><em>No documents</em></td>
                            </tr>
                          </tbody>
                      </table>



                      </div>
                    </div>
                  </div>

              </div>
            </div>





            <div class="card">
              <div class="card-header">
                <h2>Loan Actions</h2>
              </div>
              <div class="card-block">
                <a class="btn btn-blue btn-full"
                    ui-sref="qualify.examination({ LoanID: docNext.loanNum })">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Next Loan
                </a>

              </div>
            </div>


        </div>
    </div>
  </div>
</div>


<div ng-include="'views/modals/modal_reviewDocApproveAs.html'"></div>
<div ng-include="'views/modals/modal_qualifyDocDecline.html'"></div>
<div ng-include="'views/modals/modal_qualifyLoanDecline.html'"></div>
