<div class="container">

<h1>Income Verification Dashboard</h1>
<hr/>

<div class="fadeIn">
  <a class="btn btn-ld btn-sm pull-sm-right" ui-sref="accuracy"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Visit Queue</a>
  <h2 class="title">
    <i class="fa fa-bullseye" aria-hidden="true"></i> Accuracy Queue
  </h2>
    <div class="card">
        <div class="card-block">
          <div class="row">
              <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.1s;">

                <h3 class="pull-xs-right total-docs"><strong ng-bind="statsAQ.totalDocs  | number"> 3,213</strong></h3>
                <h3><i class="fa fa-file" aria-hidden="true"></i> Total Docs In Queue</h3>
                <hr/>
                <h3><i class="fa fa-heartbeat" aria-hidden="true"></i> Queue Health</h3>
                <table class="table table-striped table-sm table-stats">
                  <tr>
                    <td>Docs Reviewed/Hour</td>
                    <td class="text-xs-right"><strong ng-bind="statsCQ.hourDocs">134</strong></td>
                  </tr>
                  <tr>
                    <td>Docs Reviewed Yesterday</td>
                    <td class="text-xs-right"><strong>624</strong></td>
                  </tr>
                  <tr>
                    <td>Average Time In Queue</td>
                    <td class="text-xs-right"><strong style="color:#75b534;">1:{{statsAQ.timeout}}</strong></td>
                  </tr>
                </table>

              </div>

              <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.2s;">
                <h3 class="text-xs-left"><i class="fa fa-hourglass" aria-hidden="true"></i> Status</h3>
                <hr/>
                <i class="fa fa-thumbs-up pull-xs-left"></i>
                <div class="progress2">
                    <div class="progress2-bar green" style="width:75%;">1,465</div>
                </div>

                <i class="fa fa-thumbs-up pull-xs-left"></i>
                <div class="progress2">
                    <div class="progress2-bar blue" style="width:15%;">367</div>
                </div>

                <i class="fa fa-thumbs-down pull-xs-left"></i>
                <div class="progress2">
                    <div class="progress2-bar red" style="width:10%;">201</div>
                </div>

              </div>
              <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.3s;">
                <h3><i class="fa fa-calendar" aria-hidden="true"></i> Documents Per Day</h3>
                <hr/>
                <ul class="chart">
                  <li><span style="height:86%;" title="567"></span></li>
                  <li><span style="height:75%;" title="452"></span></li>
                  <li><span style="height:65%;" title="351"></span></li>
                  <li><span style="height:85%;" title="551"></span></li>
                  <li><span style="height:97%;" title="675"></span></li>
                  <li><span style="height:64%;" title="540"></span></li>
                  <li><span style="height:54%;" title="240"></span></li>
                </ul>

              </div>
          </div>
        </div>
    </div>
  </div>


  <!-- Begin Qualify -->
  <div class="fadeIn">
  <a class="btn btn-ld btn-sm pull-sm-right" ui-sref="qualify"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Visit Queue</a>
  <h2 class="title"><i class="fa fa-check-circle" aria-hidden="true"></i>  Qualify Queue</h2>
    <div class="card">
        <div class="card-block">

          <div class="row">

            <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.2s;">
              <h3 class="pull-xs-right  total-docs"><strong ng-bind="statsQQ.totalDocs  | number">4,531</strong></h3>
              <h3><i class="fa fa-file" aria-hidden="true"></i> Total Docs In Queue</h3>
              <hr/>
              <h3><i class="fa fa-heartbeat" aria-hidden="true"></i> Queue Health</h3>
              <table class="table table-striped table-sm table-stats">
                <tr>
                  <td>Docs Reviewed/Hour</td>
                  <td class="text-xs-right"><strong ng-bind="statsQQ.hourDocs  | number">234</strong></td>
                </tr>
                <tr>
                  <td>Docs Reviewed Yesterday</td>
                  <td class="text-xs-right"><strong>1,143</strong></td>
                </tr>
                <tr>
                  <td>Average Time In Queue</td>
                  <td class="text-xs-right"><strong style="color:#a90329;">11:{{statsQQ.timeout}}</strong></td>
                </tr>
              </table>
            </div>

            <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.3s;">
              <h3 class="text-xs-left"><i class="fa fa-hourglass" aria-hidden="true"></i> Status</h3>
              <hr/>
              <i class="fa fa-thumbs-up pull-xs-left"></i>
              <div class="progress2">
                  <div class="progress2-bar green" style="width:25%;">512</div>
              </div>

              <i class="fa fa-thumbs-up pull-xs-left"></i>
              <div class="progress2">
                  <div class="progress2-bar blue" style="width:15%;">323</div>
              </div>

              <i class="fa fa-thumbs-down pull-xs-left"></i>
              <div class="progress2">
                  <div class="progress2-bar red" style="width:60%;">1,245</div>
              </div>
            </div>

            <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.4s;">
              <h3><i class="fa fa-calendar" aria-hidden="true"></i> Documents Per Day</h3>
              <hr/>
              <ul class="chart">
                <li><span style="height:36%" title="367"></span></li>
                <li><span style="height:25%" title="252"></span></li>
                <li><span style="height:15%" title="151"></span></li>
                <li><span style="height:35%" title="351"></span></li>
                <li><span style="height:47%" title="475"></span></li>
                <li><span style="height:34%" title="340"></span></li>
                <li><span style="height:14%" title="140"></span></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
      </div>
<!-- End Qualify -->


<div class="fadeIn">
<a class="btn btn-ld btn-sm pull-sm-right" ui-sref="communication"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Visit Dashboard</a>
<h2 class="title"><i class="fa fa-comments-o" aria-hidden="true"></i>  Communication</h2>
<div class="card">
    <div class="card-block">

      <div class="row">

        <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.2s;">
          <h3 class="pull-xs-right  total-docs"><strong  ng-bind="statsCQ.totalDocs  | number">6,450</strong></h3>
          <h3><i class="fa fa-file" aria-hidden="true"></i> Loans In Process</h3>
          <hr/>
          <h3><i class="fa fa-heartbeat" aria-hidden="true"></i> Health</h3>
          <table class="table table-striped table-sm table-stats">
            <tr>
              <td>Loans Reviewed/Hour</td>
              <td class="text-xs-right"><strong  ng-bind="statsCQ.hourDocs  | number">1,260</strong></td>
            </tr>
            <tr>
              <td>Loans Reviewed Yesterday</td>
              <td class="text-xs-right"><strong>7,650</strong></td>
            </tr>
            <tr>
              <td>Average Response Time From Processor</td>
              <td class="text-xs-right"><strong style="color:#a90329;">3:11:{{statsCQ.timeout}}</strong></td>
            </tr>
          </table>
        </div>

        <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.3s;">
          <h3 class="text-xs-left"><i class="fa fa-hourglass" aria-hidden="true"></i> Status</h3>
          <hr/>
          <div class="pie-box">
            <style>
              .pie-1:before{transform:rotate(31deg);}
              .pie-2:before{transform:rotate(60deg);}
              .pie-3:before{transform:rotate(261deg);}
            </style>
            <div class="pie pie-1" style="transform:rotate(0deg);"></div>
            <div class="pie pie-2" style="transform:rotate(30deg);"></div>
            <div class="pie pie-3 big" style="transform:rotate(130deg);"></div>
          </div>
          <table class="table table-sm">
            <tbody>
                <tr>
                  <td><small>Waiting On Borrower</small></td>
                  <td class="text-xs-right" ><small><strong>5,652</strong></small></td>
                </tr>
                <tr>
                  <td><small>Waiting On Processor</small></td>
                  <td class="text-xs-right"><small><strong>1,343</strong></small></td>
                </tr>
            </tbody>
          </table>

        </div>

        <div class="col-xs-12 col-md-4 fadeIn" style="animation-delay:.4s;">
          <h3><i class="fa fa-calendar" aria-hidden="true"></i> Processed Loans Per Day</h3>
          <hr/>
          <ul class="chart">
            <li><span style="height:85%" title="1623"></span></li>
            <li><span style="height:75%" title="1464"></span></li>
            <li><span style="height:80%" title="1653"></span></li>
            <li><span style="height:90%" title="1845"></span></li>
            <li><span style="height:85%" title="1623"></span></li>
            <li><span style="height:40%" title="810"></span></li>
            <li><span style="height:47%" title="470"></span></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


</div>
